

h1{
    color: saddlebrown;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', Verdana, Geneva, Tahoma, sans-serif;
   
}
h3{
    font-family: cursive;
}  


.page-contentC{
    display: inline-block;
    
   
    
}
.product-conteiner{
   margin: 11px;
   padding: 2px;

   position: relative;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   

}

.product-conteiner img{
    width: 200px;
    height: 250px;


}

